<h1>Angular Learning Projects</h1>
<p>List of mini Angular apps build while learning Angular 17</p>
<ol reversed>
  <li>
    <a
      routerLink="/css-img-manipulation"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >CSS Image Manipulation</a
    >
  </li>
  <li>
    <a
      routerLink="/pass-message"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Pass Message</a
    >
  </li>
  <li>
    <a
      routerLink="/simple-search"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Simple Search</a
    >
  </li>
  <li>
    <a
      routerLink="/slider"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Image Slider</a
    >
  </li>
  <li>
    <a
      routerLink="/counter"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Simple Counter</a
    >
  </li>
</ol>
